<div id="amcms-filemanager-container" data-routes="<%= @config[:routes].to_json %>" data-type="<%= @config[:type] %>">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light mb-3 fm">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-plus-lg"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li id="fm-mkdir-item">
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createFolderModal" href="#">
                <i class="bi bi-folder-plus"></i>
                Create Folder
              </a>
            </li>
            <li id="fm-upload-item">
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#uploadModal" href="#">
                <i class="bi bi-cloud-arrow-up"></i>
                Upload
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" id="pwd-display"></a></li>
      </ul>
      <ul class="navbar-nav ms-auto" id="file-list-type">
        <% if @config[:type] == 'image' %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" id="thumbnail-view-btn" onclick="switchViewHandler(this, 'thumbnail')">
            <i class="bi bi-grid-fill"></i>
            Thumbnails
          </a>
        </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link<%= @config[:type] == 'file' ? ' active' : '' %>" aria-current="page" href="#" id="list-view-btn" onclick="switchViewHandler(this, 'list')">
            <i class="bi bi-list-ul"></i>
            List
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="fm-file-panel">
    <div class="row" style="padding: 0 15px;">
      <div id="fm-directory-structure" class="col-md-3 ">
        <ul id="fm-directories-list" class="list-group position-static">

        </ul>
      </div>
      <div id="fm-directory-listing" class="col-md-9" style="overflow: auto">
        <div class="row" id="fm-file-list">

        </div>
      </div>
    </div>
  </div>
  <!-- Create Folder Modal -->
  <div class="modal fade" id="createFolderModal" tabindex="-1" aria-labelledby="createFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createFolderModalLabel">Create Folder</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="fm-new-folder-form">
            <input type="text" name="item_name" id="new-folder-name" class="form-control" placeholder="Folder Name">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="createDirectory()">Create</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Rename Item Modal -->
  <div class="modal fade" id="renameItemModal" tabindex="-1" aria-labelledby="renameItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="renameItemModalLabel">Rename Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="fm-rename-item-form">
            <input type="text" name="item_name" id="new-filename" class="form-control" placeholder="Rename">
            <input type="hidden" name="original_filename" id="original-filename">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="renameFilename()">Rename</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Warning Modal -->
  <div class="modal" tabindex="-1" id="fmModal" aria-labelledby="fmModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header alert" id="fm-modal-header">
          <h5 class="modal-title fm-modal-title">Title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fm-modal-body">
        </div>
        <div class="modal-footer fm-modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="fm-modal-footer-buttons"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Upload Modal -->
  <div class="modal fade" tabindex="-1" id="uploadModal" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header alert" id="fm-upload-header">
          <h5 class="modal-title upload-modal-title">Upload Files</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body upload-modal-body">
          <form action="<%= filemanager_upload_path(type: @config[:type]) %>" class="dropzone" id="fm-uploader">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="dir" id="upload_to_dir">
          </form>
        </div>
        <div class="modal-footer upload-modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Resize Image Modal -->
  <div class="modal fade" id="resizeImageModal" tabindex="-1" aria-labelledby="resizeImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageResizeModalLabel">Resize Image</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8" id="image-preview-panel">
              <img src="" alt="" id="original_image">
            </div>
            <div class="col-4">
              <form id="fm-resize-image-form">
                <h6>Image Details</h6>
                <div id="image-info-container">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-secondary" onclick="resizeImageHandler(true)">Resize and Save Copy</button>
          <button type="button" class="btn btn-primary" onclick="resizeImageHandler(false)">Resize and Save</button>
        </div>
      </div>
    </div>
  </div>

</div>
